#profilepic{
    height: 92px;
    width: 92px;
    margin-top: 10%;
}

.accountNums{
    margin-right: 6%;
    font-size: 20px;
}

#ProfileBtnCol{
    padding-left: 0;
}

@media screen and (min-width: 769px){
    #profilepic{
        height: 150px;
        width: 150px;
    }

    #postsIcon, #bookmarkIcon, #taggedIcon{
        height: 32px;
        width: 32px;
    }
}