#profilepic{
    height: 120px;
    width: 120px;
    margin-top: 10%;
}

#ProfileBtnCol{
    padding-left: 0;
}

.iconTitle{
    display: none;
}

.btn-link:hover{
    text-decoration: none;
}

#postsIcon, #bookmarkIcon, #taggedIcon{
    cursor: pointer;
}
    
@media screen and (min-width: 768px){
    #profilepic{
        height: 150px;
        width: 150px;
    }

    .iconTitle{
        display: inline;
        margin-left: 3%;
    }

    #postsIcon, #bookmarkIcon, #taggedIcon{
        height: 32px;
        width: 32px;
    }
}