#nameBtnCol{
    padding-right: 0;
    height: 50%;
    padding-left: 3%;
}

#displayname{
    display: inline;
    position: relative;
    top: 5%;
    font-size: 28px;
}

#accountNumsList{
    display: flex;
    margin-top: 3%;
    list-style-type: none;
    padding: 0;
    
}

.accountNums{
    margin-right: 6%;
    font-size: 20px;
}

.bold{
    font-weight: bold;
}


 #nameBtnCol{
    margin-top: 3%;
}

.line { 
    border: 1px solid #d8d8d8;
    width: 100%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }

@media screen and (min-width: 768px){

    .nameBtn{
        left: 7%;
        width: 50%;
    }
}

@media screen and (max-width: 768px){
    #displayname{
        margin-left: 15%;
        margin-top: 15%;
    }

    #accountNumsList{
        margin-left: 8%;
    }

    #biotext{
        margin: 6% 3% 6% 15%;
    }

    .nameBtn{
        margin-top: 5%;
    }
}