.card{
    margin-top: 15px;
    width: 75%;
    margin-left: 135px;
}

.card-header{
    text-align: center;
    font-weight: bold;
}

.card-body{
    padding-top: 30px;
    padding-left: 0px;
}

.userRow::after{
    content: ""; 
    display: block;
    margin: 0 auto;
    width: 96%;
    border-bottom: 1px solid #d8d8d8;
}

.usernameLink{
    position: relative;
    top: 32px;
    color: black;
    font-weight: bold;
    margin-left: 16px;
}

.usernameLink:hover{
    text-decoration: none;
    color: black;
}

.profileImgFollow{
    padding: 20px;
    margin-left: 25px;
    height: 105px;
    width: 105px;
}

.followingBtn{
    margin: 25%;
    width: 142%;
    margin-left: 0%;
    border-style: solid;
    border-color: grey;
    background-color: white;
    font-weight: bold; 
}

.followersBtn{
    margin: 25px;
    margin-left: 0%;
    margin-top: 25px;
    width: 142%;
    font-weight: bold; 
}

.followersBtn:hover, .followersBtn:active, .followersBtn:focus{
    border-color: #007bff !important;
    background-color: #007bff !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25) !important;
}

.followingBtn:hover, .followingBtn:active, .followingBtn:focus{
    border-color: grey !important;
    background-color: white !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25) !important;
}

.followBtnCol{
    position: absolute;
    right: 100px;
}

#followMessage{
    color: #8e8e8e;
    text-align: center;
}


@media screen and (max-width: 768px){

    .card{
        width: 100%;
        margin-left: 0px;
    }

    .followBtnCol{
        position: absolute;
        right: 32px;
    }

    .followingBtn{
        margin-right: 0px;
        margin-top: 30px;
        width: 100%;
    }

    .followersBtn{
        width: 100%;
    }
}