.LogSignform{
    background-color: #FFFFFF;
    width: 336px;
    height: 365px;
    margin: 0 auto;
    position: relative;
    top: 205px;
    border-style: groove;
  }

  .LogformLink{
    background-color: #FFFFFF;
    width: 336px;
    height: 60px;
    margin: 0 auto;
    position: relative;;
    top: 225px;
    border-style: groove;
  }
  
  .title{
    font-family: 'Pacifico';
    text-align: center;
    font-size: 45px;
    margin: 15px;
    margin-bottom: 10px;
  }

  .LSQuestion{
    font-size: 20px;
    text-align: center;
    margin-top: 5%;
  }
  
  .subTitle{
    display: block;
    font-family: 'Open Sans';
    text-align: center;
    color: #999999;
    font-size: 20px;
  }

  .userPasstextbox{
    position: relative;
    left: 15%;
    width: 70%;
  }

  .helpCircle{
    height: 25px;
    width: 25px;
    background-color: #eceaea;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 61%;
    right: 4%;
    text-align: center;
    font-weight: bold;
    cursor: default;
    box-shadow: 0px 1px 6px 3px #c5c5c5;
  }
  
  .btn{
    position: relative;
    left: 15%;
    width: 70%;
  }

  .btn-link{
    padding: 0;
    border: 0;
    width: fit-content;
  }

  .logsignError{
    display: none;
    text-align: center;
  }

  #phonesCol{
    display: none;
  }

   .homephones{
    position: absolute;
    top: 25%;
  }

  #image-slide1, #image-slide2, #image-slide3, #image-slide4, #image-slide5 {
    display: block;
    position: absolute;
    left: 151px;
    top: 100px;
  }

  #image-slide1{
    animation: fade1 22s infinite;
  }

  #image-slide2{
    animation: fade2 22s infinite;
  }

  #image-slide3{
    animation: fade3 22s infinite;
  }
  
  #image-slide4{
    animation: fade4 22s infinite;
  }

  #image-slide5{
    animation: fade5 22s infinite;
  }

  @keyframes fade1{
    0%{opacity: 1;}
    20%{opacity: 0;}
    40%{opacity: 0;}
    60%{opacity: 0;}
    80%{opacity: 0;}
    100%{opacity: 1;}
  }

  @keyframes fade2{
    0%{opacity: 0;}
    20%{opacity: 1;}
    40%{opacity: 0;}
    60%{opacity: 0;}
    80%{opacity: 0;}
    100%{opacity: 0;}
  }

  @keyframes fade3{
    0%{opacity: 0;}
    20%{opacity: 0;}
    40%{opacity: 1;}
    60%{opacity: 0;}
    80%{opacity: 0;}
    100%{opacity: 0;}
  }

  @keyframes fade4{
    0%{opacity: 0;}
    20%{opacity: 0;}
    40%{opacity: 0;}
    60%{opacity: 1;}
    80%{opacity: 0;}
    100%{opacity: 0;}
  }

  @keyframes fade5{
    0%{opacity: 0;}
    20%{opacity: 0;}
    40%{opacity: 0;}
    60%{opacity: 0;}
    80%{opacity: 1;}
    100%{opacity: 0;}
  }

  @media screen and (max-width: 768px){
    .LogSignform{
      left: -15%;
    }
    
    .LogformLink{
      left: -15%;
      bottom: 10%;
    }
  }

  @media screen and (min-width: 830px){
    #phonesCol{
      display: block;
    }
  }

  @media screen and (min-width: 992px){
    .LogSignform{
      left: -30%;
    }

    .LogformLink{
      left: -30%;
    }
  }