#accountlinks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#homeIcon, #searchIcon, #addPhotoIcon, #heartIconBottom, #logoutIcon, #userIcon{
    padding: 2%;
}

.dropdownContentMobile{
    background-color: #ffffff; 
    padding: 10px;
    text-align: center;
}

#ContentContainerMobile{
    margin-bottom: 0px;
    padding: 0px;
}

.accountDropdownMobile{
    color: black;
}

.dropdownMobile{
    position: absolute;
    bottom: 67px;
    right: 10px; 
    width: 160px; 
    z-index: 2; 
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.04); 
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    border-radius: 5px; 
    background: white;
}

#ContentContainerMobile li {
    list-style-type: none;
    }