#NavbarTitle{
    font-family: 'Pacifico';
    font-size: 35px;
}

#row{
    width: 100%;
}

.navbar-nav{
    width: 50%;
    position: relative;
    right: 20%;
}
.navbar-nav, .searchbar{
    margin-top: 3%;
}

.searchbar{
    width: 315px !important;
    margin-left: 110px;
}

@media screen and (min-width: 768px) {
    
    .btnSize{
        width: 20%;
    }

    .btn-link{
        padding: 5px;
    }

    #hamburgermenu{
        margin-top: 1%;
    }
}

@media screen and (max-width: 992px) {

    .navbar-nav{
        width: 120%;
        margin-top: 10%;
    }

    #hamburgermenu{
        margin-top: 5%;
    }

    .btn-link{
        margin-left: 10%;
    }

    .btnSize{
        width: 45%;
    }
}