#NavbarTitle{
    font-family: "Pacifico";
    font-size: 35px;
}

.navbar{
    border-bottom: 1px solid rgba(204, 204, 204, 1); 
}

.btnmenu{
    margin-top: 14px;
}

#row{
    width: 100%;
}

.navbar-nav{
    width: 50%;
    position: relative;
    right: 20%;
}
.navbar-nav, .searchbar{
    margin-top: 3%;
}

.searchbar{
    width: 300px !important;
}

#searchPic{
    height: 34px;
    width: 34px;
    margin-top: 13%;
    margin-bottom: 20%;
}

#popover-positioned-bottom{
    left: -85px !important;
}

#user{
    margin-top: 5px;
    margin-bottom: 0%;
    font-size: 16px;
}

#userError{
    color: #8e8e8e;
    text-align: center;
    padding: 5px 15px 5px 15px;
    margin: 0px;
}

.dropdown, #searchResultsContainer { 
    position: absolute;
    top: 113%; 
    left: 70px; 
    width: 160px; 
    z-index: 2; 
    border: 1px solid rgba(0, 0, 0, 0.04); 
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    overflow: hidden;
    border-radius: 5px; 
}

#searchResultsContainer{
    top: 117%;
    left: 190px;
    width: 200px;
}

#ContentContainer, #searchResultsList { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
} 

.dropdownContent, #searchContent { 
    background-color: #ffffff; 
    padding: 8px 12px;

} 

.dropdownContent:hover, #searchContent:hover, .resultsRow:hover{ 
    background-color: rgb(245, 245, 245); 
    cursor: pointer; 
}

#navdisplayName{
    position: relative;
    top: 25%;
    right: 25%;
    text-align: center;
}

#settingsGear{
    margin-top: 30%;

}

.accountDropdown{
    color: black;
}

.accountDropdown:hover{
    text-decoration: none;
    color: black;
}

#SearchProfilePic{
    padding: 5%;
}

#usernameSearchResult{
    padding-top: 8%;
    padding-left: 5%;

}

.popover-body{
    padding: 0.5rem 1rem 0rem;
    max-height: 362px;
    overflow-x: hidden;
    overflow-y: auto;
}

.resultsRow{
    border-bottom: 1px solid #d8d8d8;
    color: black;
}

.resultsRow:hover{
    color: black;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    
    .btnSize{
        width: 30%;
    }

    #userIcon{
        margin-left: 6%;
    }

    #userIcon, #heartIconTop{
        cursor: pointer;
    }
    
}

@media screen and (max-width: 992px) {

    .navbar-nav{
        width: 120%;
        margin-top: 10%;
    }

    .btn-link{
        margin-left: 10%;
    }

    .btnSize{
        width: 45%;
    }
}