.NotFoundPage{
    width:545px;
    margin:0 auto;
    position: relative;;
    top:255px;
    text-align: center;
}

#returnLink{
    position: relative;
    left: 0%;
}

@media screen and (max-width: 768px){
    .NotFoundPage{
        width: 350px;
        top: 160px;
    }
  }