.NotFoundPage{
    width:545px;
    margin:0 auto;
    position:absolute;
    left:44%;
    top:50%;
    margin-left:-168px;
    margin-top:-250px;
    text-align: center;
}

#returnLink{
    position: relative;
    left: 0%;
}

@media screen and (max-width: 768px){
    .NotFoundPage{
        width: 350px;
        top: 75%
    }
  }